.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.radio_container {
  height: 80vh;
  padding: 5px;
  overflow: auto;
  padding: 1rem;

  /* color: rgb(224, 150, 150);
  background-color: rgb(186, 250, 197); */
  position: fixed;
  box-shadow: 5px 7px rgba(0, 0, 0, 0.4);

  border-radius: 10px;
  margin: 1rem;
  background-color: white;
}

.component {
  position: relative;
  margin-left: 18rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 7px rgba(0, 0, 0, 0.4);
  /* color: rgb(46, 170, 67);
  background-color: rgb(255, 212, 212); */
}

.scrollable {
  height: 150vh;
}

.radio {
  display: flex;
  align-items: center;
}
