.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.radio_container {
  width: 100%;
  padding: 5px;
  overflow: auto;
  padding: 1rem;
  color: rgb(224, 150, 150);
  background-color: rgb(186, 250, 197);
  position: fixed;
  height: 100%;
}

.component {
  position: relative;
  margin-left: 18rem;
  width: 100%;
  padding: 1rem;
  color: rgb(46, 170, 67);
  background-color: rgb(255, 212, 212);
}

.scrollable {
  height: 500vh;
}

.radio {
  display: flex;
  align-items: center;
}
